asgiref==3.3.4
backcall==0.2.0
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
decorator==5.0.9
Django==3.2.4
idna==2.10
image==1.5.33
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.2.0
jupyter-core==4.7.1
matplotlib-inline==0.1.2
nest-asyncio==1.5.1
numpy==1.20.3
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
Pygments==2.9.0
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pyzbar==0.1.8
pyzmq==22.0.3
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.5
wcwidth==0.2.5
wincertstore==0.2
